@charset "utf-8";

nav{
    position: sticky;
    top: 0px;
}

a{
    text-decoration: none;
    color:white;
    background-color: gray;
    padding: 1rem;
    border-radius: 8px;
}
a:hover{
    background-color: lightgray;
}

.planetes {
    display: none;
    background-color: lightgray;
    min-width: 200px;
}
.planetes a {
    display: block;
}


.deroulant:hover .planetes{
    display: block;
}

.scroll {
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 8px;
}
.scroll:hover {
    background-color: lightgray;
    }

.deroulant {
    position: relative;
    display: inline-block;
}